<app-carlo-header></app-carlo-header>

<a routerLink="/" routerLinkActive="active">home</a><br/>
<a routerLink="/eager-module" routerLinkActive="active">eager-module</a><br/>
<a routerLink="/lazy-module" routerLinkActive="active">lazy-module</a>

<router-outlet></router-outlet>

<app-carlo-footer></app-carlo-footer>